@use "../tools" as t;

.button {
  min-width: 250px;
  padding: 10px 25px;
  border-radius: 12px;
  background-color: t.$colorThree;
  color: t.$colorTwo;
  @include t.flex-mix(center, center);

  @media (max-width: 768px) {
  }
}
