@use "../tools" as t;
.lang-switcher {

    &__link {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;

        &.active {
      color:t.$colorThree;
    }
    }

    &__divider {
       font-size: 18px;
       margin: 0 3px;
       font-weight: 500;
    }

  
}
