@use "../tools" as t;

.modal {
  visibility: hidden;
  z-index: 1000;
  position: relative;
  position: fixed;
  inset: 0;
  padding: 40px 15px;
  overflow-y: auto;
  background: t.$colorModalBg;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s;

  &--visible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.4s ease,
      visibility 0.4s;
  }
  &__content--visible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
