@use "../tools" as t;

.title {
  text-align: center;
   @include t.fluid-prop("font-size",32, 100);
   @include t.fluid-prop("margin-bottom",20, 60);
   font-family: t.$fontTitle;
   max-width: 700px;
   text-align: left;
}