@use "../tools" as t;

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  will-change: transform;

  &--scrolled {
    background-color: t.$colorTwo;
  }

  &--hidden {
    transform: translateY(-100%);
  }

  &__inner {
    width: 100%;
    @include t.flex-mix(space-between, center, row, 30px);
    padding: 6px 15px 6px 15px;

    @media (max-width: 576px) {
      padding: 6px 0;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    @include t.fluid-prop("gap", 22, 52, 320, 768);
  }
}
