@use "../tools" as t;

.hero {
  display: grid;
  position: relative;
  padding-top: 72px;
  border-bottom: 1px solid;
  isolation: isolate;

  @media (max-width: 768px) {
    padding-top: 0;
  }

  > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  &__bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50px 50%;

      @media (max-width: 1200px) {
        object-position: 0px 50%;
      }
      @media (max-width: 1024px) {
        object-position: 40% 50%;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__bg-img-mob {
    display: none;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 20px;
    }
  }
  &__inner {
    height: 100%;
    @include t.fluid-prop("padding-block", 80, 160, 320, 1440);
    @include t.flex-mix(center, flex-start, column, 0);

    @media (max-width: 768px) {
      @include t.flex-mix(center, center, column);
    }
  }

  &__subtitle {
    position: relative;
    margin-bottom: 20px;
    color: t.$colorThree;
    font-weight: 500;
    text-transform: capitalize;
    @include t.fluid-prop("font-size", 14, 24, 320, 1440);

    &::after {
      position: absolute;
      top: 50%;
      left: 110%;
      width: 40%;
      transform: translateY(-50%);
      background-color: t.$colorThree;
      content: "";
      @include t.fluid-prop("height", 1, 2, 320, 1440);

      @media (max-width: 768px) {
        left: 105%;
        width: 20%;
      }
    }

    &::before {
      display: none;

      @media (max-width: 768px) {
        display: block;
        position: absolute;
        top: 50%;
        right: 105%;
        width: 20%;
        transform: translateY(-50%);
        background-color: t.$colorThree;
        content: "";
        @include t.fluid-prop("height", 1, 2, 320, 1440);
      }
    }
  }

  &__title {
    @include t.fluid-prop("margin-bottom", 20, 34, 320, 1200);
  }

  &__description {
    max-width: 510px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 18px;
    text-wrap: balance;
    @include t.fluid-prop("font-size", 14, 18, 320, 1440);

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__button {
  }
}
