


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{=$title}</title>
  <meta name="description" content="{=$description}" />
  <meta name="keywords" content="{=$keywords}" />
  <link rel="canonical" href="{=$site-url}" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{=$site-url}" />
  <meta property="og:title" content="{=$title}" />
  <meta property="og:description" content="{=$description}" />
  <meta property="og:image" content="{=$site-url}{=$og-image}" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{=$site-url}" />
  <meta property="twitter:title" content="{=$title}" />
  <meta property="twitter:description" content="{=$description}" />
  <meta property="twitter:image" content="{=$site-url}{=$og-image}" />

  <meta name="theme-color" content="{=$theme-color}" />

   <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

</head>